@import "~bulma";
@import "~buefy/src/scss/buefy.scss";

$max_mobile_width: 768px;

h1,  h4 {
    text-align: center;
    font-size: revert;
    font-weight: revert;
}

div.matrix-container {
    max-width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: auto;

    margin-top: 4rem;

}

div.columns.matrix-quadrant {

    margin: 0px;
    padding: 0px;

    div.column.matrix-cell {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img.matrix-image, img.error-image {

            margin-bottom: 24px;
            margin-top: 24px;
            width: 128px;
            min-width: 128px;
            height: auto;

        }
    }
}


div.flex-grid {
    display: flex;
    flex-direction: column;
    position: relative;

    div.grid-row {
        display: flex;
        position: relative;

        &:not(:last-child)
        {
            margin-bottom: 4px;
        }



        div.row-head, div.cell-value {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
        }

        div.button-add-column, div.button-remove-column, div.button-add-row, div.button-remove-row  {
            position: absolute;

            cursor: pointer;
            &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        div.button-add-column {
            top: 0px;
            right: -11px;
        }

        div.button-remove-column {
            top: 0px;
            left: 37px;
        }


        div.button-add-row {
            top: -23px;
            right: -22px;
        }

        div.button-remove-row {
            top: -40px;
            right: -22px;
        }

    }


}

div.excel-letter-switch {
    text-align: center;
}



.loader-overlay {
    bottom: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    right: 0;
    top: 0;
    align-items: center;
    display: none;
    justify-content: center;
    overflow: hidden;

}

.loader-overlay.is-active {
    display: flex
}

.loader-overlay .loader-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background: #9999cc;
    opacity: 0.25;
    z-index: 100000;
}

.loader-overlay .loader-icon-holder {
    position: relative;
    z-index: 100001;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;

    .loader-icon {
        margin: 5px 30px;
        img {
            width: 80px;
            height: auto;
        }

    }
}
